{% extends 'freelancer/freelancer_dashboard.html' %}
{% block content %}
<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 style="font-weight: 600; color: #F7990e;">Chats</h2>
    </div>
    <div class="row px-xl-5">
       
        <div class="col-lg-5 mb-5">
            <div class="d-flex flex-column mb-3">
                {% for chats in fchats|dictsort:"user_id.name" %} {# Sort the fchats list by user's name #}
                {% ifchanged chats.user_id.name %}
                <a href="/freelancer-viewchatdetailed?chatuser={{chats.user_id.id}}"><p class="mb-2">{{chats.user_id.name}}</p></a>
                {% endifchanged %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}