{% extends 'freelancer/freelancer_dashboard.html' %}
{% block content %}
<style>
    .chat-button {
    border-radius: 7px;
    padding: 5px 15px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
}

.chat-button:hover {
    background-color: #0056b3;
    text-decoration: none;
}
</style>
{% if messages %}
{% for message in messages %}
    <script>alert('{{message}}')</script>
{% endfor %}
{% endif %}
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <div class="col-lg-12 table-responsive mb-5">
            <table class="table table-bordered text-center mb-0">
                <thead class="bg-secondary text-dark">
                    <tr>
                        <th>Request Details</th>
                        <th>User Details</th>
                        <th>Your Updates</th>
                        
                        <!-- <th>Image</th>
                    
                        <th>Description</th>
                        <th>Size</th>
                        <th>Expected</th> -->
                        <!-- <th>Price</th>
                        <th>Complete date</th> -->
                        <!-- <th>Freelancer Name</th>
                        <th>Phone</th> -->
                        
                        <th>Request Status</th>
                        <th>Requirements Action</th>
                        
                    </tr>
                </thead>
                <tbody class="align-middle">
                    {% for requests in requests %}
                    <tr>
                        <td class="align-middle"><img src="../../static/media/{{requests.requestimage}}" alt="" style="width: 60% !important; height: 100px  !important;"><br>
                        <!-- <td class="align-middle">{{requests.requestname}}</td> -->
                        Description: {{requests.requestdesc}}<br>
                        Size: {{requests.requestsize}} <br>
                        Expected Date: {{requests.reqexpecteddate}} </td>
                        
                        <td class="align-middle">User Name: {{requests.user_id.name}}<br>
                        Contact: {{requests.user_id.phone}}</td>
                        <td class="align-middle">Price: {{requests.requestprice}} <br>
                            Completion Date: {{requests.reqcompletedate}} </td>
                        <!-- <td class="align-middle">{{requests.freelancer_id.email}}</td> -->
                        {% if requests.requeststatus|lower == "pending" %}
                        <td class="align-middle"><a href="/freelancer-acceptrequest?rid={{requests.id}}" class="btn btn-primary py-2 px-4 " style="border-radius: 7px;">Accept</a>  
                            <a href="/freelancer-rejectrequest?rid={{requests.id}}" class="btn btn-primary py-2 px-4" style="border-radius: 7px;">Reject</a>
                        </td>
                        {% else %}
                        <td class="align-middle">reqst{{requests.requeststatus}} by freelancer</td>
                        {% endif %}
                        {% if requests.requeststatus|lower == "accepted" and requests.reqrequirestatus|lower == "accepted" %}
                        <td >request{{requests.reqrequirestatus}}</td>
                        <td><a href="/freelancer-completerequest?rid={{requests.id}}" class="btn btn-primary py-2 px-4 mr-2" style="border-radius: 7px;">Completed</a>
                        </td>
                        {% else %}
                        <td >requirement{{requests.reqrequirestatus}}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
</div>


<!-- <div class="container-fluid py-5">
    <div class="row px-xl-5">
        

        
    </div>
    <div class="row px-xl-5">
        <div class="col">
            <div class="nav nav-tabs justify-content-center border-secondary mb-4">
                
            </div>
            <div class="tab-content">
                
                <div class="">
                        <div class="row">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item px-0">
                                   Image
                                </li>
                                <li class="list-group-item px-0">
                                    Name
                                </li>
                                <li class="list-group-item px-0">
                                    Description
                                </li>
                                <li class="list-group-item px-0">
                                    Size
                                </li>
                                <li class="list-group-item px-0">
                                    Expected Date
                                 </li>
                                 <li class="list-group-item px-0">
                                     Price
                                 </li>
                                 <li class="list-group-item px-0">
                                     Completion Date
                                 </li>
                                 <li class="list-group-item px-0">
                                     Freelancer Name
                                 </li>
                                 <li class="list-group-item px-0">
                                    Freelancer Phone
                                 </li>
                                 <li class="list-group-item px-0">
                                     Freelancer Email
                                 </li>
                                 <li class="list-group-item px-0">
                                     Requirement Action
                                 </li>
                                 <li class="list-group-item px-0">
                                     Request Action
                                 </li>
                              </ul> 
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item px-0">
                                   abc Sit erat duo lorem duo ea consetetur, et eirmod takimata.
                                </li>
                                <li class="list-group-item px-0">
                                    Amet kasd gubergren sit sanctus et lorem eos sadipscing at.
                                </li>
                                <li class="list-group-item px-0">
                                    Duo amet accusam eirmod nonumy stet et et stet eirmod.
                                </li>
                                <li class="list-group-item px-0">
                                    Takimata ea clita labore amet ipsum erat justo voluptua. Nonumy.
                                </li>
                              </ul> 
                        </div>
                    </div><br>

                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item px-0">
                                   Image
                                </li>
                                <li class="list-group-item px-0">
                                    Name
                                </li>
                                <li class="list-group-item px-0">
                                    Description
                                </li>
                                <li class="list-group-item px-0">
                                    Size
                                </li>
                                <li class="list-group-item px-0">
                                    Expected Date
                                 </li>
                                 <li class="list-group-item px-0">
                                     Price
                                 </li>
                                 <li class="list-group-item px-0">
                                     Completion Date
                                 </li>
                                 <li class="list-group-item px-0">
                                     Freelancer Name
                                 </li>
                                 <li class="list-group-item px-0">
                                    Freelancer Phone
                                 </li>
                                 <li class="list-group-item px-0">
                                     Freelancer Email
                                 </li>
                                 <li class="list-group-item px-0">
                                     Requirement Action
                                 </li>
                                 <li class="list-group-item px-0">
                                     Request Action
                                 </li>
                              </ul> 
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item px-0">
                                   abc Sit erat duo lorem duo ea consetetur, et eirmod takimata.
                                </li>
                                <li class="list-group-item px-0">
                                    Amet kasd gubergren sit sanctus et lorem eos sadipscing at.
                                </li>
                                <li class="list-group-item px-0">
                                    Duo amet accusam eirmod nonumy stet et et stet eirmod.
                                </li>
                                <li class="list-group-item px-0">
                                    Takimata ea clita labore amet ipsum erat justo voluptua. Nonumy.
                                </li>
                              </ul> 
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div> -->
{% endblock %}