{% extends 'freelancer/freelancer_dashboard.html' %}
{% block content %}
{% if messages %}
{% for message in messages %}
    <script>alert('{{message}}')</script>
{% endfor %}
{% endif %}
<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 style="font-weight: 600; color: #F7990e;">Add Your Products</h2>
    </div>
    <div class="row px-xl-5 ">
        <div class="col-lg-7 mb-5 mx-auto">
            <div class="contact-form">
                <!-- <div id="success"></div> -->
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                      <select name="cat" class="form-select" aria-label="Default select example" style="display: block;
                      width: 100%;
                      height: calc(1.5em + 0.75rem + 2px);
                      padding: 0.375rem 0.75rem;
                      font-size: 1rem;
                      font-weight: 400;
                      line-height: 1.5;
                      color: #495057;
                      background-color: #fff;
                      background-clip: padding-box;
                      border: 1px solid #EDF1FF;
                      border-radius: 0;
                      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;">
                        <option selected style="color: #495057;">Choose your Category</option>
                        {% for category in categories %}
                        <option  value="{{category.category_id.id}}">{{category.category_id.category}}</option>
                        {% endfor %}
                      </select><br>
                    <div class="control-group">
                        <input type="file" name="pimage">
                    </div><br>
                    <div class="control-group">
                        <input type="text" class="form-control" name="prodname"  placeholder="Name" required/>
                        
                    </div><br>
                    <div class="control-group">
                        <input type="text" class="form-control" name="prodprice"  placeholder="Price" required  />
                    
                    </div><br>

                    <div class="control-group">
                        <input type="text" class="form-control" name="prodsize"  placeholder="Size" required  />
                    
                    </div><br>

                    
                    
                    <div>
                        <button class="btn btn-primary py-2 px-4" type="submit" style="border-radius: 7px;" >Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}