{% extends 'user/user_dashboard.html' %}
{% block content %}

<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 style="font-weight: 600; color: #F7990e;">Our Categories</h2>
    </div>
    
    <div class="row px-xl-5 pb-3">
        
        {% for category in categories %}
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4" >
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                    <a href="/user-viewcatproducts?catid={{category.id}}"><img class="img-fluid w-100" src="../../static/media/{{category.image}}" style="width: 100% !important; height: 200px !important; " alt=""></a>
                </div>
                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                    <h6 class="text-truncate mb-3">{{category.category}}</h6>
                </div>
                
            </div>
        </div>
        {% endfor %}
        
    </div>
   
</div>
{% endblock %}